<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transações</title>
</head>
<body>
        <h1>Transações</h1>
        <br>
        <ul>
        {% for transacao in transacoes %}
            <li><a href="{% url 'atualizar_transacao' transacao.id %}" >{{ transacao.descricao }}</a> | {{ transacao.data }}
                | R${{ transacao.valor }} | {{ transacao.conta.nome }}</li> <br>
        {% endfor %}
        </ul>
        <a href="{% url 'nova_transacao' %}">Nova Transação</a>
</body>
</html>